body {
  font-size: 1.2rem;
  font-family: "Orbit", sans-serif;
  text-decoration: none;
  background: rgb(139, 182, 208);
  background: linear-gradient(
    90deg,
    rgba(139, 182, 208, 0.8267682072829132) 0%,
    rgba(29, 71, 253, 0.7567401960784313) 45%,
    rgba(106, 79, 240, 0.908000700280112) 83%
  );
}
